<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.njk" %}
</head>
<body>
  {% include "partials/header.njk" %}
  <main class="site-main">
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
  <script src="/assets/js/lightbox.min.js" defer></script>
  <script src="/assets/js/main.js" defer></script>
</body>
</html>
